/* _content/HamburgerOrderWebSite/Areas/Admin/Views/Shared/AdminTemplate.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-8eax4tuixi] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-8eax4tuixi] {
  color: #0077cc;
}

.btn-primary[b-8eax4tuixi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-8eax4tuixi], .nav-pills .show > .nav-link[b-8eax4tuixi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-8eax4tuixi] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-8eax4tuixi] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-8eax4tuixi] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-8eax4tuixi] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-8eax4tuixi] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/HamburgerOrderWebSite/Areas/Editor/Views/Shared/EditorTemplate.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-9g48x0jhqp] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-9g48x0jhqp] {
  color: #0077cc;
}

.btn-primary[b-9g48x0jhqp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-9g48x0jhqp], .nav-pills .show > .nav-link[b-9g48x0jhqp] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-9g48x0jhqp] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-9g48x0jhqp] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-9g48x0jhqp] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-9g48x0jhqp] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-9g48x0jhqp] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/HamburgerOrderWebSite/Areas/User/Views/Shared/UserTemplate.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-jgjs1yzghz] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-jgjs1yzghz] {
  color: #0077cc;
}

.btn-primary[b-jgjs1yzghz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-jgjs1yzghz], .nav-pills .show > .nav-link[b-jgjs1yzghz] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-jgjs1yzghz] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-jgjs1yzghz] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-jgjs1yzghz] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-jgjs1yzghz] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-jgjs1yzghz] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/HamburgerOrderWebSite/Views/Shared/AnaSayfaGirisTemplate.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-fghx47cfym] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-fghx47cfym] {
  color: #0077cc;
}

.btn-primary[b-fghx47cfym] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-fghx47cfym], .nav-pills .show > .nav-link[b-fghx47cfym] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-fghx47cfym] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-fghx47cfym] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-fghx47cfym] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-fghx47cfym] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-fghx47cfym] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/HamburgerOrderWebSite/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-zdbzjsnjr0] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-zdbzjsnjr0] {
  color: #0077cc;
}

.btn-primary[b-zdbzjsnjr0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-zdbzjsnjr0], .nav-pills .show > .nav-link[b-zdbzjsnjr0] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-zdbzjsnjr0] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-zdbzjsnjr0] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-zdbzjsnjr0] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-zdbzjsnjr0] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-zdbzjsnjr0] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
