@model HamburgerOrderWebSite.ViewModels.LoginViewModelVM

@{
    ViewData["Title"] = "Giriş Sayfası";
}

<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block ">
                        <img class="img-fluid" src="~/Images/ForMAinPage/Yuksek.jpg" />
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h3 text-gray-900 mb-4">Hoş Geldiniz!</h1>
                            </div>
                            <form asp-action="Login" class="user">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="UserName" class="form-control form-control-user" placeholder="Kullanıcı Adı Giriniz..." />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Password" class="form-control form-control-user" placeholder="Şifre Giriniz..." />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Giriş Yap" class=" btn btn-primary btn-user btn-block" />
                                </div>
                            </form>
                            @section Scripts {
                                @{
                                    await Html.RenderPartialAsync("_ValidationScriptsPartial");
                                    @if (TempData["SuccessMessage"] != null)
                                    {
                                        <script>
                                            alert('Şifreniz Başarıyla değiştirildi');
                                        </script>
                                    }
                                }
                            }

                            <hr>
                            <hr>
                            <div class="text-center">
                                <a class="small btn btn-danger" asp-action="SignUp" asp-controller="MainPage">Hesabın yok mu?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
