@using HamburgerOrderWebSite.ViewModels.ForUser;
@model HamburgerOrderWebSite.ViewModels.ForUser.UpdatePasswordVM

@{
    ViewData["Title"] = "Şifre Yenile";
}
@{
    if (User.IsInRole("Normal Kullanıcı"))
    {
        Layout = "~/Areas/User/Views/Shared/UserTemplate.cshtml";
    }
    else if (User.IsInRole("Editör"))
    {
        Layout = "~/Areas/Editor/Views/Shared/EditorTemplate.cshtml";
    }
    else if (User.IsInRole("Yönetici"))
    {
        Layout = "~/Areas/Admin/Views/Shared/AdminTemplate.cshtml";
    }
    else
    {
        Layout = "AnaSayfaGirisTemplate";
    }
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdatePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" placeholder="Mevcut Şifreyi" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" placeholder="Yeni Şifre" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepeateNewPassword" class="control-label"></label>
                <input asp-for="RepeateNewPassword" class="form-control" placeholder="Yeni Şifre" />
                <span asp-validation-for="RepeateNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        @{
            if (User.IsInRole("Normal Kullanıcı"))
            {
                foreach (var item in (List<UserBoxVM>)ViewData["UserOrders"])
                {
                    <text>
                        $(document).ready(function () {
                            $("#AddToBox").append('<a class="dropdown-item" asp-area="User" asp-action="MenuDetails" asp-controller="User" asp-route-orderId="@item.OrderId">' +
                                '<i class="fa-solid fa-pencil"></i>' +
                                '<p>@item.OrderName</p>' +
                                '<p>₺@item.Price</p>' +
                                '</a>');
                        });
                    </text>
                }

                <text>
                    $(document).ready(function () {
                        var addToBoxElement = document.getElementById('AddToBox');
                        var elementCount = addToBoxElement.childElementCount;
                        if (elementCount != 0) {
                            var link = '<a class="dropdown-item" asp-area="User" asp-action="RemoveAllMenus" asp-controller="User">' +
                                '<i class="fa-regular fa-trash-can fa-beat-fade" style="color: #c51b1b;"></i>&nbsp; Sepeti Boşalt!' +
                                '</a>';

                            var link2 = '<a class="btn btn-danger btn-block mt-2" asp-area="User" asp-action="ValidateBox" asp-controller="User">' + `Siparişi Tamamla`
                            '</a>';
                            $("#AddToBox").append(link);
                            $("#AddToBox").append(link2);
                        }


                    });
                </text>
            }
        }
    </script>
}
